
index_path/data.properties
index_path/data.meta.zdata
index_path/data.meta.idx
index_path/data.meta-0.fsomapfile
index_path/data.lexicon.fsomapid
index_path/data.lexicon.fsomaphash
index_path/data.lexicon.fsomapfile
index_path/data.inverted.bf
index_path/data.document.fsarrayfile
index_path/data.direct.bf
index/data.direct.bf
index/data.document.fsarrayfile
index/data.inverted.bf
index/data.lexicon.fsomapfile
index/data.lexicon.fsomaphash
index/data.lexicon.fsomapid
index/data.meta-0.fsomapfile
index/data.meta.idx
index/data.meta.zdata
index/data.properties
results/.DS_Store
model/doc_baseline.ckpt
model/doc_davinci_doc_context.ckpt
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/.DS_Store
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/best_rank_list/.DS_Store
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/best_rank_list/doc_mshard/doc_hard_query_2_doc_4e-4.tsv
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/best_rank_list/doc_mshard/hard_doc_attention_davinci_2_final_4e-4.tsv
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/best_rank_list/doc_mshard/hard_doc_davinci03_doc_context_400tok_1e-3.tsv
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/best_rank_list/doc_mshard/hard_doc_linear_davinci_2_final_1e-3.tsv
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/best_rank_list/doc_msmarco/doc_attention_2_davinci_final_3e-4.tsv
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/best_rank_list/doc_msmarco/doc_davinci03_doc_context_400tok_5e-4.tsv
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/best_rank_list/doc_msmarco/doc_linear_2_davinci_final_1e-4.tsv
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/best_rank_list/doc_msmarco/doc_query_2_doc_3e-4.tsv
model/wetransfer_model-1-doc2query-all-rankers_2024-03-21_1327/doc_query2doc.ckpt
index/data.direct.bf
index/data.document.fsarrayfile
index/data.inverted.bf
index/data.lexicon.fsomapfile
index/data.lexicon.fsomaphash
index/data.lexicon.fsomapid
index/data.meta-0.fsomapfile
index/data.direct.bf
index/data.document.fsarrayfile
index/data.inverted.bf
index/data.lexicon.fsomapfile
index/data.lexicon.fsomaphash
index/data.lexicon.fsomapid
index/data.meta-0.fsomapfile
*.bf
index/data.direct.bf
index/data.document.fsarrayfile
index/data.inverted.bf
index/data.lexicon.fsomapfile
index/data.lexicon.fsomaphash
index/data.lexicon.fsomapid
index/data.meta-0.fsomapfile
